.book {
	clear: both;
	border-bottom: 1px solid black;
	padding-bottom: 5px;
}

.book .buttons {
	text-align: center;
}

.book .left {
	float: left;
	padding-right: 5px;
}

.book .title {
	font-weight: bold;
}
